		/* External CSS Syntax
			selector {property:  value; property:  value}
			selector {
				property: value;
				property: value;
			} */
/* Universal selector - used to target all element */
* {
	font-family: "Courier New", monospace;
	font-size:  20px;
	color: black;
}
h1 {
	color:  red !important;
}
h2 {
	color: blue;
}
#zuitt-motto{
	letter-spacing: 5px;
}
.offering-item{
	text-transform: uppercase;
}
#offering-1{
	color: #1f567a;
}

input[required]{
	border-width: 2px;
	border-style:  solid;
	border-color:  navy;
}

/* Adjacent Sibling Selector (+) */
h3 + img	{
	height: 300px;
	width: 300px;
	border-radius: 150px;
}



div + p {
	background-color: red;
}

/* General Sibling Selector (~) 
	used to select all elements that are next siblings of a specified element
*/

div ~ p{
	background-color: yellow;
}

/* Child Selector (>)
	used to select all element that are the children of a specific element
*/

div > p {
	background-color: blue;
}

div p {
	background-color: red;
}

/* Multiple Selector
	used to select multiple elements that is separated by a comma
	h , p , div , ol
*/
